* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* top logo and title */

.top {
    display: flex;
    padding: 20px;
    background-color: #F0F0F0;
}

.logo {
    flex: 1;
}

.title {
    flex: 4;
    padding: 50px;
}

p {
    text-align: center;
}

.first, .second, .third, .forth, .fifth, .confirm {
    padding: 20px;
}

ul {
    list-style: none;
}

li {
    text-align: center;
}

/* talk and refresh buttons */

.bothButtons {
    position: relative;
    padding: 20px;
}

.talk {
    font-family: inherit;
    padding: 10px 20px;
    background-color: rgb(116, 241, 110);
    border: none;
    border-radius: 10px;
}

.talk:hover {
    background-color: rgb(6, 126, 0);
}

.refresh {
    font-family: inherit;
    padding: 10px 20px;
    background-color: rgb(255, 123, 123);
    border: none;
    border-radius: 10px;
}

.refresh:hover {
    background-color: rgb(177, 50, 50);
}

.talk-button {
    display: block;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.refresh-button {
    display: block;
    position: absolute;
    top: 75px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.make-space {
    height: 60vh;
}

footer {
    background-color: #F0F0F0;
    display: block;
    position: relative;
    bottom: 1px;
    width: 100%;
}

.confirmation_message {
    display: none;
}

/* video stream and captured image */

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#canvas {
    display:none;
}

.camera {
    width: 340px;
    display:inline-block;
    position: relative;
    left: 420px;
}

.output {
    width: 340px;
    display:inline-block;
    position: relative;
    left: 460px;
}

@media screen and (max-width: 768px) {

    .top {
        flex-direction: column;
        overflow: hidden;
    }

    .logo {
        margin: 0 auto;
    }
    
    footer {
        position: relative;
        font-size: 12px;
    }

}